sphinx_rtd_theme
autodocsumm
myst_parser
nbsphinx<0.9.0
pandoc
sphinx
sphinxcontrib-confluencebuilder
sphinxcontrib-napoleon
numpydoc
pdflatex
pyyaml
ipywidgets
scalecast==0.19.8
tqdm
tensorflow
typing-extensions<4.6.0
pandas_datareader
# scikit-learn for Python 3.10.9
numpy==1.22.0
scikit-learn==1.5.0
scipy==1.10.1